.topHalf {
    font-family: 'Special Elite', "cursive";
    background: url("./photos/cliff-16.jpg") no-repeat center center fixed;
    color: white;
}

header {
    text-align: center;
    font-family: 'Special Elite', "cursive";
}

.headerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(44, 42, 43, 0.3);
    color: #eae7e4;
    width: 100%;
}

.icons {
    margin-top: 15px;
}

.face {
    border-radius: 50%;
    height: 115px;
    width: 115px;
}

.aboutMe {
    font-family: 'Special Elite', "cursive";
    padding: 10px;
    background-color: rgba(44, 42, 43, 0.3);
    margin: 12rem 0 12rem;
    width: 50%;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 25%;
}

.learnMore {
    text-align: center;
    color: white;
}

.learnIt {
    color: white;
}

.thirds {
    display: flex;
    text-align: center;
    flex-flow: column;
    padding-bottom: 12rem;
}

.thirds div {
    padding: 0 9px;
}

.title {
    text-align: center;
    padding: 4rem 0 4rem;
}

.navigation {
    display: flex;
}

.video {
    text-align: center;
}

#title {
    padding-bottom: 4rem;
}

#iconLinkedIn {
    font-size: 50px;
    text-decoration: none;
    color: #0077b5;
    margin: 10px;
    padding: 5px;
}

#iconGitHub {
    font-size: 50px;
    text-decoration: none;
    color: #eae7e4;
    margin: 10px;
    padding: 5px;
}

#iconGmail {
    font-size: 50px;
    text-decoration: none;
    color: #cd3d2d;
    margin: 10px;
    padding: 5px;
}

#icon:visited {
    text-decoration: none;
    color: blue;
}

#code {
    font-size: 50px;
    text-decoration: none;
    color: blue;
}

#smile {
    font-size: 50px;
    text-decoration: none;
    color: blue;
}

#terminal {
    font-size: 50px;
    text-decoration: none;
    color: blue;
}

@media screen and (min-width: 769px) {
    .headerWrapper {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px;
        background-color: rgba(44, 42, 43, 0.5);
        color: #eae7e4;
        width: 100%;
    }
    .thirds {
        flex-flow: row;
    }
    #first {
        flex: 1 1 27%;
    }
    #second {
        flex: 1 1 27%;
    }
    #third {
        flex: 1 1 27%;
    }
}